header{
    background-color: rgba(7, 85, 7, 0.314);
    display: flex;
    justify-content: space-evenly;

    h1{
        width:35%;
        font-size: 2rem;
        display: flex;
        justify-content: flex-end;
    }
}